/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*    Created on : 2017-06-06, 12:48:21
    Author     : MAC*/


#first{
    background-image: url('images/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
    padding: 400px;
}





#logo {
    margin-top: -26px;
    margin-bottom: -10px;
    height: 100px;


}
.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: 35px;
    color: #660066;
}

#oferta{

    font-family: 'Walter Turncoat', cursive;
    font-size: 23px;
    padding: 150px;


}
#galeria {
    background-image: url('images/7.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-repeat: no-repeat;
    padding: 150px;
}
#onas{


    padding: 150px;
}
#kontakt{
    background-image: url('images/13.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    font-family: 'Carter One', cursive;
    font-size: 25px;
}
.right-nav{
    font-family: 'Walter Turncoat', cursive;
    font-size: 25px;
}
#icon{
    size: 50px;

}