/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*    Created on : 2017-06-06, 12:48:21
    Author     : MAC*/

.navi {
    background-image: url('images/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.right-nav{
    margin-right: 40px;
    margin-top: -10px;
}

#logo {
    margin-top: -26px;
    margin-bottom: -10px;
    height: 100px;


}
.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: 35px;
    color: #660066;
}

#oferta{

    font-family: 'Walter Turncoat', cursive;
    font-size: 24px;
    padding: 220px;


}
#galeria {
    background-image: url('images/7.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-repeat: no-repeat;
    padding: 220px;
}
#onas{

    background-repeat: no-repeat;
    padding: 220px;
}
#kontakt{
    background-image: url('images/6.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px;
}
.right-nav{
    font-family: 'Walter Turncoat', cursive;
    font-size: 25px;
}
